p, li {
  font-family: $bodyCopy;
}

h1 {
  font-family: $bodyCopy;
  font-size: 40px;
}

h2 {
  font-family: $bodyCopy;
  font-size: 30px;
}

h3 {
  font-family: $bodyCopy;
  font-size: 24px;
}

h4 {
  font-family: $bodyCopy;
  font-size: 22px;
}