/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
$bodyCopy: 'Open Sans Condensed', sans-serif;

/* COLORS */
$eoBlue: #2431C7;
$lightBlue: #BAC4D6;
$lightGray: #f1f0f0;
$eoPurple: #7c4399;