.clients-table {
  @include flex(1);
  background-color: $lightBlue;
  border-top-left-radius: 10px;
  margin-top: 10px;
  margin-left: 2px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td, th {
    font-family: $bodyCopy;
    padding-top: 3px;
    padding-bottom: 3px;

    &:first-of-type {
      padding-left: 3%;
    }
  }

  td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  th {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
  }

  thead {
    background-color: #9973b0;

    tr {
      th:first-of-type {
        border-top-left-radius: 10px;
      }

      &:hover {
        background-color: #9973b0;
        cursor: default;
      }
    }
  }

  tr:nth-of-type(even) {
    background-color: #C8D2E4;
  }

  tr:hover {
    background-color: #6e78d6;
    cursor: pointer;
  }
}