.login-form{
  width: 400px;
  margin: 40px auto 0;
  padding: 40px;
  border-radius: 10px;
  @include box-shadow(0 0 17px 2px rgba(0,0,0,0.75));
  background-color: white;

  .form-group:first-of-type {
    margin-bottom: 15px;
  }

  input[type="text"], input[type="password"] {
    border: 1px solid $eoPurple;
  }

  button {
    background-color: $eoPurple;
    border: 1px solid $eoPurple;
    color: white;

    &:hover {
      background-color: transparent;
      color: $eoPurple;
    }
  }

  .logo-wrapper {
    text-align: center;
  }

  .button-wrapper {
    text-align: center;

    button {
      margin-top: 15px;
    }
  }
}